@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-primary: #3b82f6;
  /* Blue 500 */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
  /* slate-950 */
}

::-webkit-scrollbar-thumb {
  background: #334155;
  /* slate-700 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
  /* slate-600 */
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}